<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,50,50,5) 0%, rgba(8,36,61,0.6) 41%), url(<%= cl_image_path("Coffee") %>)">

  <div class="banner-content">
    <h1> Nicki Hinz </h1>
    <p> Personal Blog </p>
    <% if session[:current_user] %>
    <div class="new-black-button"> <%= link_to "Add a new blog post", new_post_path %> </div>
    <% end %>
  </div>
</div>

  <div class="container">
    <div class="container-home">
    <div class="card-holder">
      <% @posts.each do |post| %>
      <%= link_to post_path(post) do %>
      <div class="card">
          <h3> <%= post.name %> </h3>
          <%= cl_image_tag post.photo, height: 300, width: 300, crop: :fill unless post.photo.blank? %>
          <div> <%= post.created_at.strftime("%Y-%m-%d") %> </div>
      </div>
        <% end %>
      <% end %>
    </div>
  </div>
    <% if session[:current_user] %>
      <li><%= link_to 'Log OUT', session_path('logout'), method: :delete %></li>
    <% end %>
  </div>
