<div class="container">
  <div class="post-body">
    <h1> <%= @post.name %> </h1>
    <p> Written on <%= Date.today %> </p>
    <%= @post.body %>
    </br>
    <%= link_to "Edit this post", edit_post_path(@post) %>
    </br>
    <%= link_to "Delete this post", post_path(@post), method: :delete %>
    </br>
    <%= link_to "Back to the others", root_path %>
  </div>
</div>
