<!DOCTYPE html>
<html>
  <head>
    <title> Nicki Hinz Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background-color: #3B3E44";>

    <%= yield %>
    <%= javascript_include_tag "application" %> <!-- from app/assets/javascripts/application.js -->
    <%= javascript_pack_tag "application" %>    <!-- from app/javascript/packs/application.js -->
  <div class="footer">
    <div class="footer-links">
      <a href="https://www.instagram.com/nicki_hinz/?hl=en"><i class="fab fa-instagram"></i></a>
      <a href="https://twitter.com/NickiHinz?lang=en"><i class="fab fa-twitter"></i></a>
    </div>
    <div class="footer-copyright">
      This website is made with <i class="fas fa-heart"></i> by a rookie-dev friend
    </div>
  </div>
  </body>
</html>
