<!DOCTYPE html>
<html>
  <head>
    <title> Nicki Hinz Blog</title>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131443982-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-131443982-1');
    </script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- Global site tag (gtag.js) - Google Analytics -->
  </head>

  <body style="background-color: #3B3E44";>

    <%= yield %>
<!-- This is normally where I'd include javascript application tags but I don't have any JS here.
 -->
 <div class="footer">
    <div class="footer-links">
      <a href="https://www.instagram.com/nicki_hinz/?hl=en"><i class="fab fa-instagram"></i></a>
      <a href="https://twitter.com/NickiHinz?lang=en"><i class="fab fa-twitter"></i></a>
      <%= link_to "Imprint", "/show" %>
    </div>
    <div class="footer-copyright">
      This website is made with <i class="fas fa-heart"></i> by a rookie-dev friend
    </div>
  </div>
  </body>
</html>
